@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

:root {
  --bg-col: rgb(255, 255, 255);
  --text-col: rgb(55, 65, 81);
  --bg-col-dark: rgb(3, 12, 18);
  --text-col-dark: rgb(248, 252, 255);
}

* {
  box-sizing: border-box;
  font-size: 15px;
}

body {
  margin: 0;
  padding: 0;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  background-color: var(--bg-col);
  color: var(--text-col);
  transition: 0.5s ease;
}

.dark {
  --bg-col: var(--bg-col-dark);
  --text-col: var(--text-col-dark);
}

p {
  line-height: 1.5;
  margin: 15px 0 2px 0;
}

a {
  color: var(--text-col);
}

h1 {
  color: var(--text-col);
  margin: 0;
  font-size: 25px;
  font-weight: 600;
}

h2 {
  color: var(--text-col);
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
}

h2 hr {
  flex-grow: 1;
  margin-left: 20px;
  height: 1px;
  background-color:var(--text-col);
  border: none;
} 

li + li {
  margin-top : 3px;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: start;
}

.page {
  width: 100%;
  height: 100%;
  max-width: 750px; 
  padding: 20px;
}

.section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 15px 0px 0px 0px;
}

.subsection {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 5px 0px 0px 0px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-bottom: 15px;
}

.button {
  background-color: inherit;
  border: hidden 1px var(--bg-col);
  color: var(--text-col); 
  transition: background-color 0.3s ease, color 0.3s ease, border-radius 0.3s ease;
}


.button:hover {
  background-color: rgb(235, 235, 235);
  border-radius: .5rem;
}

.dark .button:hover {
  background-color: rgb(50, 50, 50);
  border-radius: .5rem;
}

.text-container {
  /* flex : 1; */
  /* display: flex; */
  text-align: justify;
  text-justify: inter-word;
  flex-direction: column;
  margin: 5px;
  gap: 10px;
  align-items: start;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  margin: 10px;
  gap: 20px;
}

.project {
  width: 200px;
  height: 200px;
}

.project img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: 1px hidden;
}

.profile-pic {
  width: 90px;
  height: 90px;
}

.profilepic {
  width: 200px; 
  height: auto;
  float: right;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 8px;
  padding-left: 15px;
  border-radius: 23px;
}

.edu-img {
  width: auto;
  height: 125px;
  border-radius: 6px;
  margin: auto;
}

p > img {
  text-align: center;
  display: block;
  margin: 0 auto;
}
